.custom_class table thead > tr > th:nth-child(2) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(3) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(4) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(6) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(7) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(11) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(12) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(15) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(17) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(18) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(19) {
    min-width: 70px !important;
    text-align: center;
}

.custom_class table thead > tr > th:nth-child(20) {
    min-width: 70px !important;
    text-align: center;
}
