[submodule "base/odoo"]
	path = base/odoo
	url = git@github.com:burroaktoolinc/odoo.git
[submodule "base/enterprise"]
	path = base/enterprise
	url = git@github.com:burroaktoolinc/enterprise.git
[submodule "oca/queue"]
	path = oca/queue
	url = git@github.com:burroaktoolinc/queue.git
[submodule "oca/web"]
	path = oca/web
	url = git@github.com:burroaktoolinc/web.git
[submodule "oca/website"]
	path = oca/website
	url = git@github.com:burroaktoolinc/website.git
[submodule "oca/account-analytic"]
	path = oca/account-analytic
	url = git@github.com:burroaktoolinc/account-analytic.git
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:burroaktoolinc/server-tools.git
[submodule "oca/server-ux"]
	path = oca/server-ux
	url = git@github.com:burroaktoolinc/server-ux.git
